/dts-v1/;
/{
        model = "loongson,generic";
        compatible = "loongson,loongson3";
        #address-cells = <1>;
        #size-cells = <1>;

        aliases {
                serial0 = &cpu_uart0;
        };

        chosen {
                stdout-path = "serial0:115200n8";
                bootargs = "earlycon";
        };

    memory {
        name = "memory";
        device_type = "memory";
        reg =  <0x00000000  0x08000000>;
        };

	cpuic: interrupt-controller {
	compatible = "loongson,cpu-interrupt-controller";
        interrupt-controller;
		#interrupt-cells = <1>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x10000000 0x10000000 0x10000000 >;

        cpu_uart0: serial@0x1fe001e0 {
                        compatible = "ns16550a";
                        reg = < 0x1fe001e0  0x10>;
                        clock-frequency = <33000000>;
                        interrupt-parent = <&cpuic>;
                        interrupts = <2>;
                        no-loopback-test;
                };

        
#if 0
            ahci@0x1fe30000{
                compatible = "snps,spear-ahci";
                reg = <0x1fe30000 0x10000>;
                interrupt-parent = <&cpuic>;
                interrupts = <4>;
                dma-mask = <0x0 0xffffffff>;
            };
#endif
        };

};

